* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button, button:visited, button:focus, button:active, button:hover {
  outline: 0 none !important;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  z-index: 80;
  opacity: 0;
}

header i {
  color: white;
}

.header.activityHeader {
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.headerOverlay {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

.headerOverlay.activityHeader {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

.navContent {
  max-width: 70%;
  margin: 0 auto;
}

.navLogo img {
  height: 40px;
  width: 200px;
}

.navContent {
  padding: 20px 0;
}

nav a {
  color: white;
  margin-left: 30px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

nav a::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: #FD4100;
  opacity: 0;
  position: absolute;
  top: -170%;
  left: 0;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

nav a:hover::after {
  opacity: 1;
  width: 100%;
  -webkit-transition: width .1s linear;
  transition: width .1s linear;
}

nav a:hover {
  color: #FD4100;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.closeAdmin {
  position: fixed;
  top: 20px;
  left: 20px;
}

.closeAdmin a {
  color: white;
}

/* BURGER */
.burger {
  height: 40px;
  width: 40px;
  position: relative;
  display: none;
  cursor: pointer;
}

.burgerLine,
.burgerLine::before,
.burgerLine::after {
  height: 3px;
  width: 30px;
  background-color: white;
  border: none;
  position: absolute;
}

.burgerLine {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burgerLine::after {
  top: 8px;
  content: '';
}

.burgerLine::before {
  top: -8px;
  content: '';
}

/* */
/* SCROLL TO HEADER */
.scrollToHeader {
  position: fixed;
  right: 50px;
  bottom: 70px;
  background-color: #3E3E3E;
  height: 35px;
  width: 35px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  opacity: 0;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  z-index: 50;
  cursor: pointer;
}

.scrollToHeader:hover {
  background-color: #FD4100;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.scrollToHeader.activeScrollHeader {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.scrollHeaderLine,
.scrollHeaderLine::before,
.scrollHeaderLine::after {
  height: 3px;
  width: 10px;
  border-radius: 10px;
  background-color: white;
  border: none;
  position: absolute;
}

.scrollHeaderLine {
  background-color: transparent;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scrollHeaderLine::after {
  left: -3px;
  content: '';
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.scrollHeaderLine::before {
  left: 3px;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* */
/* */
/* SESSION */
.sessionBlock {
  width: 100%;
  background-color: #F5F5F5;
}

.sessionContent i:nth-child(1) {
  color: #999999;
}

.sessionContent i {
  margin-right: 8px;
  color: #FD4100;
}

.sessionContent a {
  letter-spacing: 2px;
  margin-right: 8px;
  color: #777777;
  font-size: 13px;
  font-weight: 400;
  -webkit-transition: .2s;
  transition: .2s;
}

.sessionContent a:hover {
  color: #FD4100;
  -webkit-transition: .2s;
  transition: .2s;
}

.sessionContent p {
  letter-spacing: 2px;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  height: 12px;
}

.sessionWrapper {
  margin: 0 auto;
  max-width: 70%;
}

/* */
/* SLIDER */
.slideList {
  position: relative;
}

.slideIMG {
  min-width: 100%;
}

.slideContent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.slideContent h1 {
  color: white;
  font-size: 3.5vw;
  font-weight: bold;
  margin-top: 20px;
}

.slideContent p {
  color: white;
  font-size: 1.3vw;
}

.slideContent img {
  max-width: 100%;
  height: auto;
}

.slideIcons {
  margin-bottom: 80px;
}

.slideButtons {
  margin: 0 auto;
}

.slideButtons button {
  background-color: #FD4100;
  padding: 10px 30px;
  outline: none;
  border: none;
  color: white;
  letter-spacing: 3px;
  margin-left: 10px;
  margin-right: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slideButtons button:nth-child(2) {
  background-color: white;
  color: #A5A5A5;
}

.slideButtons button:nth-child(1):hover {
  background-color: #222222;
  -webkit-transition: .2s;
  transition: .2s;
}

.slideButtons button:nth-child(2):hover {
  background-color: #222222;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.modalNavBlock {
  display: none;
}

/* BACKGROUND */
.backgroundBlock {
  height: 500px;
  overflow: hidden;
  position: relative;
}

.backgroundImage {
  min-width: 100%;
}

.backgroundTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.backgroundContent h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-top: 20px;
}

.backgroundContent p {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
}

/* */
/* CONTACT MAIN */
.contactMainWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.contactMainContent {
  padding-bottom: 100px;
  margin-top: 80px;
}

.contactMainMap {
  padding-top: 100px;
}

.contactMainTitle h2 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.contactMainTitle h2:before,
.contactMainTitle h2:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}

.contactMainTitle h2:before {
  right: 15px;
  margin: 0 0 0 -100%;
}

.contactMainTitle p:after {
  left: 15px;
  margin: 0 -100% 0 0;
}

.contactMainForm p {
  color: #777777;
  font-size: 20px;
}

.contactMainForm button {
  background-color: #616161;
  padding: 10px 40px;
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 15px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.contactMainForm button:hover {
  background-color: #222222;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.contactMainInput input {
  outline: none;
  width: 100%;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  padding-left: 30px;
  height: 45px;
  margin-top: 15px;
  color: #777777;
  font-weight: 600;
  border: 1px solid rgba(212, 212, 212, 0);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.contactMainInput input:focus {
  border: 1px solid #d4d4d4;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.contactMainInput textarea {
  margin-top: 15px;
  outline: none;
  width: 100%;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  padding-left: 30px;
  color: #777777;
  font-weight: 600;
  padding-top: 15px;
  border: 1px solid rgba(212, 212, 212, 0);
  -webkit-transition: .2s linear;
  transition: .2s linear;
  height: 150px;
}

.contactMainInput textarea:focus {
  border: 1px solid #d4d4d4;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.contactMainContainerMargin {
  margin-top: 30px;
}

.contactMainContainer p {
  margin-bottom: 5px;
  color: #777777;
}

.contactMainIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
}

.contactMainIcon {
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 40px;
  background-color: #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactMainIcon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #898989;
}

#map {
  height: 500px;
  width: 100%;
}

/* */
/* SESSION */
.blogBlock {
  width: 100%;
}

.blogWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.blogContent {
  padding: 90px 0;
}

.blogContainerDate {
  width: 80px;
  height: 100px;
  background-color: #FD4100;
}

.blogContainerDateNumber {
  height: 70px;
  background-color: #FD4100;
  position: relative;
}

.blogContainerDateNumber p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  font-size: 35px;
}

.blogContainerDateMonth {
  height: 30px;
  background-color: #EBEBEB;
  position: relative;
}

.blogContainerDateMonth p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #777777;
  font-weight: 600;
  font-size: 17px;
}

.blogContainerContent {
  margin-left: 15px;
  position: relative;
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
  padding-bottom: 30px;
}

.blogContainerImgEvents p {
  background-color: red;
  position: absolute;
  right: 20px;
  top: 15px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 18px;
}

.input {
  text-transform: uppercase;
}

.blogContainerText h2 {
  font-size: 35px;
  margin-top: 10px;
  font-weight: 500;
}

.blogContainerText p {
  color: #999999;
  font-weight: 400;
  margin-bottom: 10px;
  width: 100%;
}

.blogContainerText p:nth-child(2) {
  color: #999999;
  font-weight: 500;
}

.blogContainerText button {
  outline: none;
  background-color: #EFEFEF;
  border: none;
  padding: 7px 30px;
  color: #999999;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
  margin-top: 10px;
}

.blogContainerText button:hover {
  background-color: #212223;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.blogContainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}

.blogFilterInput {
  position: relative;
}

.blogFilterInput input {
  background-color: #F4F4F4;
  outline: none;
  width: 100%;
  padding: 8px 18px;
  border: none;
  -webkit-text-fill-color: #A3A3A3;
  font-weight: 500;
}

.blogFilterInput i {
  color: #A3A3A3;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 10px;
  border-left: 1px solid #AFAFAF;
}

.blogFilterSocialTitle {
  position: relative;
}

.blogFilterSocialTitle p {
  font-weight: 600;
  color: #979797;
  margin-top: 30px;
}

.blogFilterSocial {
  margin-top: 50px;
}

.blogSocialIcons {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 5px;
}

.blogSocialIcons i {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 20px;
  padding: 15px;
  background-color: #1E1E1E;
  color: white;
}

.blogSocialIcons i:nth-child(1) {
  background-color: #5C7BB4;
}

.blogSocialIcons i:nth-child(2) {
  background-color: #13BEDD;
}

.blogSocialIcons i:nth-child(3) {
  background-color: #E44615;
}

.blogSocialIcons i:nth-child(4) {
  background-color: #1071E8;
}

.blogSocialIcons i:nth-child(5) {
  background-color: #E11919;
}

.blogSocialIcons i:hover {
  background-color: #FF784F;
  -webkit-transition: .3s;
  transition: .3s;
}

.blogFilterCategories {
  margin-top: 50px;
}

.blogFilterSocialTitle p {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.blogFilterSocialTitle p:before,
.blogFilterSocialTitle p:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}

.blogFilterSocialTitle p:before {
  right: 15px;
  margin: 0 0 0 -100%;
}

.blogFilterSocialTitle p:after {
  left: 15px;
  margin: 0 -100% 0 0;
}

.blogCategoriesContent {
  margin-top: 30px;
}

.blogCategoriesContainer {
  position: relative;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
  padding-top: 5px;
}

.blogCategoriesContainer span {
  height: 6px;
  width: 6px;
  background-color: #FD4100;
}

.blogCategoriesContainer h3 {
  color: #777777;
  font-size: 15px;
  margin-top: 7px;
  margin-left: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.blogCategoriesContainer p {
  color: #777777;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blogCategoriesContainer:hover {
  cursor: pointer;
}

.blogCategoriesContainer:hover h3 {
  color: #FD4100;
  -webkit-transition: .3s;
  transition: .3s;
}

.blogCategoriesContainer:nth-child(3) {
  border: none;
}

/* BLOG OVERLAY */
.blogModal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -250%);
          transform: translate(-50%, -250%);
  width: 60%;
  z-index: 100;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 20px;
}

.blogModal button {
  background-color: #FD4100;
  color: white;
  font-weight: 600;
  width: 100%;
}

.blogModal select {
  width: 100px;
}

.blogModal.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  transition: .3s;
}

.blockModalContent {
  background-color: white;
  padding: 50px;
}

.blockModalOverlay {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  display: none;
}

.blockModalOverlay.active {
  display: block;
}

.blogFilter button {
  padding: 5px 0;
  border: none;
  background-color: #FD4100;
  outline: none;
  color: white;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
}

.blogFilter button:hover {
  background-color: #222222;
  -webkit-transition: .5s;
  transition: .5s;
}

/* */
/* SERVICES */
.sevicesWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.servicesContent {
  padding-top: 70px;
  padding-bottom: 80px;
}

.servicesContent div:nth-child(1) {
  border-left: none;
}

.servicesIcon {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #F5F5F5;
  border-radius: 50%;
  margin: 0 auto;
}

.servicesIcon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  color: #FD4100;
  z-index: 2;
}

.servicesContainer {
  border-left: 1px dotted #BBBBBB;
}

.servicesContainer h3 {
  margin-top: 20px;
  font-size: 18px;
  color: #222222;
}

.servicesContainer p {
  margin-top: 25px;
  width: 60%;
  color: #777777;
  margin: 0 auto;
}

.servicesContainer:hover .servicesContainerHover {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.servicesContainer:hover .servicesIcon i {
  color: white;
}

.servicesContainerHover {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  height: 140px;
  width: 140px;
  background-color: #FD4100;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

/* */
/* OUR TEAM */
.ourTeamBlock {
  background-color: #F5F5F5;
}

.ourTeamWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.ourTeamTitle {
  padding-top: 90px;
}

.ourTeamTitle h2 {
  color: #222222;
}

.ourTeamCarusel {
  margin-top: 50px;
  padding-bottom: 50px;
}

.outTeamContainerText {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: white;
  position: relative;
}

.outTeamContainerText h3 {
  font-size: 20px;
  color: #222222;
}

.outTeamContainerText p {
  color: #A2A2A2;
  font-weight: 400;
}

.ourTeamContainer:hover .ourTeamIcons {
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: .2s;
  transition: .2s;
}

.ourTeamContainer:hover .ourTeamIcon {
  opacity: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

.ourTeamContainer:hover .outTeamContainerText p {
  opacity: 0;
}

.ourTeamContainer:hover .outTeamContainerText h3 {
  opacity: 0;
}

.ourTeamIcons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-80%, -100%);
          transform: translate(-80%, -100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.ourTeamIcon {
  opacity: 0;
  cursor: pointer;
  position: relative;
  height: 35px;
  width: 35px;
  background-color: #B7B7B7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .2s;
  transition: .2s;
}

.ourTeamIcon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
}

.ourTeamIcon:hover {
  background-color: #FD4100;
  -webkit-transition: .2s;
  transition: .2s;
}

/* */
/* HISTORY */
.historyWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.historyContent {
  padding: 90px 0;
}

.historyTabItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.historyTabItems a {
  padding: 10px 50px;
  background-color: #F1F1F1;
  color: #777777;
  font-weight: 500;
}

.historyTabContent {
  margin-top: 3px;
}

.historyTabBlock {
  background-color: #F9F9F9;
  padding: 40px 40px;
  color: #777777;
  display: none;
  max-width: 90%;
}

.historyTabBlock:target {
  display: block;
}

.historyTabBlock:target
.contactBlock {
  width: 100%;
}

.contactBlockWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.contactContent {
  position: relative;
  bottom: 65px;
  background-color: #FD4100;
  padding: 28px 48px;
  width: 100%;
  background: url("https://ninzio.com/gustablo/wp-content/uploads/2018/03/section_bg1.jpg") center;
}

.contactContent input {
  height: 45px;
  border: none;
  outline: none;
  padding-left: 30px;
  margin: 5px 0;
}

.contactContent button {
  background-color: #222222;
  padding: 10px 10px;
  outline: none;
  border: none;
  color: white;
  letter-spacing: 3px;
  margin-right: 15px;
  height: 45px;
  margin-top: 5px;
}

/* SLIDER ANIM */
.slideContentTitle {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  opacity: 0;
}

.slideContentTitle.activeSlider {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.slideContentImg {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.slideContentImg.activeSlider {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.slideContentText {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
}

.slideContentText.activeSlider {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.slideContentButton1 {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  opacity: 0;
}

.slideContentButton1.activeSlider {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

.slideContentButton2 {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  opacity: 0;
}

.slideContentButton2.activeSlider {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

/* */
/* */
/* GALLERY */
.galleryBlock {
  background-color: #FFFEFB;
}

.galleryWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.galleryContent {
  padding-top: 90px;
  padding-bottom: 80px;
  text-align: center;
}

.galleryContent h1 {
  color: #222222;
}

.galleryContent p:nth-child(2) {
  border-top: 3px solid #777777;
  max-width: 900px;
  margin: 0 auto;
  color: #777777;
  font-size: 18px;
  margin-top: 30px;
  padding-top: 30px;
}

.galleryContent button {
  border: 1px solid #DDDDDD;
  padding: 10px 80px;
  outline: none;
  letter-spacing: 3px;
  background: none;
  color: #777777;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  margin-top: 45px;
}

.galleryContent button:hover {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: #FD4100;
  color: white;
  border-color: #FD4100;
}

.galleryContainer {
  overflow: hidden;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
}

.galleryContainer a {
  color: #777777;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 15px;
  font-weight: 700;
}

.galleryContainer a:hover {
  color: #FD4100;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.galleryContainer:hover .galleryContainerText {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.galleryContainer:hover .galleryContainerImage {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.galleryContainer:hover .galleryIcon1 {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.galleryContainer:hover .galleryIcon2 {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.galleryContainerText {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  background-color: white;
  width: 100%;
  padding: 5px 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.galleryContainerImage {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.galleryIcons {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.galleryIcons i {
  color: white;
  padding: 10px;
  background-color: #FD4100;
}

.galleryIcons i:hover {
  background-color: #1F2323;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.galleryIcon1 {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.galleryIcon2 {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

/* */
/* CHEF */
.chefBlock {
  background-color: #F5F5F5;
}

.chefWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.chefContent img {
  max-width: 475px;
  max-height: 674px;
}

.chefContent h1 {
  margin-top: 15px;
  border-bottom: 3px solid #777777;
  padding-bottom: 20px;
  width: 85%;
  margin: 0 auto;
  color: #222222;
}

.chefContent p {
  color: #777777;
  line-height: 30px;
  width: 100%;
  margin: 20px auto;
}

/* */
/* COUNTER */
.counterWrapper {
  margin: 0 auto;
  max-width: 65%;
}

.counterContent {
  padding: 50px 0;
  text-align: center;
}

.counterContent h1 {
  color: #FD4100;
  font-size: 60px;
  font-weight: bold;
}

.counterContent p {
  color: #777777;
  font-weight: bold;
}

/* */
/* OFFERS */
.offersBlock {
  background-image: url("../../images/offersBackground.jpg");
  padding-top: 140px;
}

.offersWrapper {
  margin: 0 auto;
  width: 70%;
}

.offersContent {
  background-color: white;
  padding-bottom: 80px;
  padding-top: 60px;
}

.offersContent h1:nth-child(1) {
  text-align: center;
  border-bottom: 3px solid #777777;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
  line-height: 40px;
  color: #222222;
}

.offersContent img {
  height: 100px;
  width: 100px;
}

.offersContainers {
  padding-top: 30px;
}

.offersText {
  margin-left: 30px;
}

.offersText p {
  color: #777777;
  font-size: 15px;
  margin-top: 10px;
}

.offersContentWrapper {
  margin: 0 auto;
  width: 90%;
}

.offersContentWrapper button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FD4100;
  border: none;
  padding: 10px 80px;
  outline: none;
  letter-spacing: 3px;
  color: #777777;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  margin-top: 60px;
  color: white;
}

.offersContentWrapper button:hover {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: #1F2323;
  color: white;
}

.offersContainer {
  padding: 20px;
  background-color: #F5F5F5;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 49%;
}

.food-title {
  background-color: #F5F5F5;
}

.food-price {
  background-color: #F5F5F5;
  color: #FD4100;
}

.food-dots {
  width: 0%;
}

/* */
/* ABOUT */
.descriptionBlock {
  background-color: #F5F5F5;
}

.descriptionWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.descriptionContent {
  padding: 40px 0;
}

.descriptionContent h1 {
  color: #222222;
  margin-top: 15px;
  border-bottom: 3px solid #777777;
  padding-bottom: 20px;
  width: 85%;
  margin: 0 auto;
}

.descriptionContent p {
  color: #777777;
  line-height: 30px;
  width: 85%;
  margin: 20px auto;
}

/* */
/* WORKERS */
.workersWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.workersContent {
  padding: 50px 0px;
}

.workersContainer {
  background-color: #F6F6F6;
  position: relative;
  margin-top: 50px;
  padding: 60px 30px 50px 30px;
}

.workersContainer img:nth-child(2) {
  max-width: 100px;
  max-height: 25px;
  margin: 0 auto;
}

.workersContainer p {
  color: #777777;
  margin-top: 10px;
}

.workersContainer h2 {
  font-size: 18px;
  color: #FD4100;
  font-weight: bold;
}

.workersContainer h3 {
  color: #777777;
  font-size: 15px;
}

.workersIcon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -120%);
          transform: translate(-50%, -120%);
  border-radius: 50%;
  overflow: hidden;
  height: 90px;
  width: 90px;
}

.owl-dot {
  color: orange;
  outline: none;
}

/* BUTTONS */
/* */
/* */
/* SUBSCRIBE */
.subscribeBlock {
  background-image: url("../../images/bg-subscribe.jpg");
}

.subscribeWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.subscribeContent {
  padding: 40px 0;
  row-gap: 15px;
}

.subscribeContent button {
  border: none;
  padding: 10px 60px;
  outline: none;
  letter-spacing: 3px;
  background-color: #333333;
  color: white;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: bold;
  height: 45px;
}

.subscribeContent input {
  height: 45px;
  border: none;
  outline: none;
  padding-left: 30px;
}

/* SUBSCRIBE ICON */
.subscribeTitleImg {
  width: 50px;
  height: 30px;
  border: 4px solid white;
  border-radius: 5px;
  position: relative;
}

.subscribeTitleText {
  color: white;
  font-size: 18px;
  margin-left: 30px;
  font-weight: bold;
}

.subcribeIconLine,
.subcribeIconLine::before,
.subcribeIconLine::after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 4px;
  width: 15px;
  background-color: white;
  border-radius: 10px;
}

.subcribeIconLine {
  background-color: transparent;
}

.subcribeIconLine::before {
  top: -1px;
  content: '';
  left: -5px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.subcribeIconLine::after {
  top: -1px;
  content: '';
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

/* */
/* */
/* */
/* FOOTER */
footer {
  background-color: #1E1E1E;
}

.footerContent {
  padding-top: 90px;
  padding-bottom: 70px;
}

.footerContent p {
  color: #BCBCBC;
}

.footerWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.footerIcon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: #353535;
  position: relative;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.footerIcon i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.footerIcon:hover {
  background-color: #FD4100;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.footerContainerTitle h2 {
  color: white;
  font-size: 16px;
}

.footer-logo {
  height: 40px;
  width: 200px;
}

.footerTitleLine {
  margin-top: 10px;
  background-color: #FD4100;
  width: 80px;
  height: 2px;
}

.footerContentPost img {
  height: 70px;
  width: 90px;
}

.footerContentPost h3 {
  color: white;
  font-size: 14px;
}

.footerPhotoGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
}

.footerContainerContent {
  margin-top: 30px;
}

.footerContentPostText {
  margin-left: 20px;
  margin-top: 2px;
}

.footerLine {
  border-bottom: 1px solid #353535;
  padding-bottom: 20px;
}

.footerOffset {
  margin-top: 20px;
}

.footerContactContainer {
  border-bottom: 1px solid #353535;
  padding-top: 10px;
}

.footerContactContainer i {
  color: #FD4100;
}

.footerContactContainer p {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
}

.footerContactContainer:nth-child(3) {
  border: none;
}

/* */
/* NAV FOOTER */
.navFooterBlock {
  background-color: #151515;
}

.navFooterWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.navFooterContent {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navFooterContent p {
  color: #A7A7A7;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
}

.navFooterContent span {
  color: white;
}

.navFooterContent a {
  padding-right: 20px;
  color: #A7A7A7;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  border-right: 1px solid #272727;
}

.navFooterContent a:nth-child(4) {
  border-right: none;
}

.navCopyriht {
  margin-top: 15px;
}

.navFooterNav {
  margin-top: 15px;
}

/* */
/* PRODUCTS */
.productsFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productsWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.productsImg {
  position: relative;
}

.productsImg img {
  text-align: center;
}

.productsContent {
  padding-top: 30px;
  padding-bottom: 100px;
}

.productsText {
  text-align: center;
  background-color: #F5F5F5;
  padding-top: 20px;
  padding-bottom: 3px;
}

.productsText h2 {
  color: #222222;
  font-size: 18px;
  text-transform: uppercase;
}

.productsText p {
  color: #FB4100;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.productsContainer {
  margin-top: 25px;
  overflow: hidden;
}

.productsImgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.productsImgButton {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  padding: 10px 20px;
  background-color: #FFFEFC;
  font-weight: 600;
  color: #757575;
  outline: none;
  border: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.productsContainer:hover .productsImgOverlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.productsContainer:hover .productsImgButton {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.productsImgButton:hover {
  color: #FB4100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* LOADER */
.loader {
  display: block;
  overflow: hidden;
  font-size: 10px;
  margin: 200px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #FD4100;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #FD4100), color-stop(42%, rgba(101, 171, 248, 0)));
  background: linear-gradient(to right, #FD4100 10%, rgba(101, 171, 248, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #FD4100;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* */
.productsFilter {
  padding-top: 120px;
}

.productsFilterInput {
  position: relative;
}

.productsFilterInput input {
  background-color: #F4F4F4;
  outline: none;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  font-weight: 600;
}

.productsFilterInput i {
  cursor: pointer;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background-color: #F4F4F4;
  padding: 0 10px;
  color: #757575;
  border-left: 1px solid #E0E0E0;
  font-size: 18px;
}

.productsSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productsSelect p {
  margin-top: 4px;
  margin-right: 15px;
  color: #999999;
  font-weight: 600;
}

.productsSelect select {
  letter-spacing: 1px;
  background-color: #F4F4F4;
  color: #757575;
  outline: none;
  border: none;
  height: 35px;
  padding-left: 15px;
  font-weight: 600;
  width: 200px;
}

.productsSelect option {
  background-color: #F4F4F4;
  border: none;
}

/* */
/* ADMIN */
.adminBlock {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminBlock form {
  padding-top: 54px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.adminBlock form button {
  width: 100%;
}

/* */
@media screen and (max-width: 1400px) {
  /* HEADER */
  .contactBlockWrapper {
    max-width: 80%;
  }
  .galleryWrapper {
    max-width: 80%;
  }
  .navContent {
    max-width: 80%;
  }
  .chefWrapper {
    max-width: 80%;
  }
  .offersWrapper {
    width: 70%;
  }
  .offersContentWrapper {
    width: 90%;
  }
  .descriptionWrapper, .footerWrapper, .navFooterWrapper, .subscribeWrapper, .workersWrapper,
  .contactMainWrapper, .sevicesWrapper, .ourTeamWrapper, .historyWrapper {
    max-width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  /* HEADER */
  .slideContent h1 {
    color: white;
    font-size: 5vw;
  }
  .slideContent p {
    color: white;
    font-size: 2vw;
  }
  .backgroundContent h1 {
    font-size: 55px;
  }
  .backgroundContent p {
    font-size: 15px;
  }
  .galleryWrapper {
    max-width: 90%;
  }
  .contactBlockWrapper {
    max-width: 90%;
  }
  .navContent {
    max-width: 90%;
  }
  .chefWrapper {
    max-width: 80%;
  }
  .counterWrapper {
    max-width: 80%;
  }
  .offersWrapper {
    width: 70%;
  }
  .offersContentWrapper {
    width: 85%;
  }
  .descriptionWrapper {
    max-width: 90%;
  }
  .chefContent {
    padding: 40px 0;
  }
  .chefWrapper {
    max-width: 90%;
  }
  .footerWrapper {
    max-width: 90%;
  }
  .navFooterWrapper {
    max-width: 90%;
  }
  .subscribeWrapper {
    max-width: 90%;
  }
  .workersWrapper {
    max-width: 90%;
  }
  .contactMainWrapper {
    max-width: 90%;
  }
  .sevicesWrapper {
    max-width: 90%;
  }
  .ourTeamWrapper {
    max-width: 90%;
  }
  .historyWrapper {
    max-width: 90%;
  }
  .productsWrapper {
    max-width: 90%;
  }
  .blogWrapper {
    max-width: 90%;
  }
  .sessionWrapper {
    max-width: 90%;
  }
  /* */
}

@media screen and (max-width: 1024px) {
  /* HEADER */
  nav {
    display: none;
  }
  .burger {
    display: block;
  }
  /* MODAL NAV */
  .modalNavBlock {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #292A2D;
    z-index: 100;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .7s;
    transition: .7s;
  }
  .modalNavContent {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
  }
  .modalNavContent ul {
    list-style-type: none;
  }
  .modalNavContent li {
    margin-top: 10px;
  }
  .modalNavContent a {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
  .modalNavBlack {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    display: none;
  }
  .modalNavBlack.activeNavBlack {
    -webkit-animation: show .8s;
            animation: show .8s;
    display: block;
    opacity: 0.7;
  }
  .modalNavBlock.activeNavModal {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: .7s;
    transition: .7s;
  }
  form {
    row-gap: 10px;
  }
  @-webkit-keyframes show {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.7;
    }
  }
  @keyframes show {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.7;
    }
  }
  .galleryWrapper {
    max-width: 90%;
  }
  .navContent {
    max-width: 90%;
  }
  .chefWrapper {
    max-width: 80%;
  }
  .counterWrapper {
    max-width: 90%;
  }
  .offersWrapper {
    width: 90%;
  }
  .offersContentWrapper {
    width: 90%;
  }
  .chefWrapper {
    max-width: 95%;
  }
  .workersWrapper {
    max-width: 90%;
  }
  .contactMainWrapper {
    max-width: 90%;
  }
  .sevicesWrapper {
    max-width: 90%;
  }
  .ourTeamWrapper {
    max-width: 90%;
  }
  .historyWrapper {
    max-width: 90%;
  }
  .productsWrapper {
    max-width: 90%;
  }
  .sessionWrapper {
    max-width: 90%;
  }
  .blogWrapper {
    max-width: 90%;
  }
  .blogFilter {
    display: none;
  }
  /* */
  /* */
}

@media screen and (max-width: 992px) {
  /* HEADER */
  .slideContent h1 {
    font-size: 5.5vw;
  }
  .slideContent p {
    font-size: 3vw;
  }
  .backgroundContent h1 {
    font-size: 50px;
  }
  .backgroundContent p {
    font-size: 13px;
  }
  .modalNavContent {
    padding-top: 150px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .modalNavContent {
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .modalNavContent a {
    font-size: 35px;
  }
  .slideButtons button {
    margin-top: 50px;
  }
  .offersWrapper {
    margin: 0 auto;
    width: 80%;
  }
  .offersContentWrapper {
    margin: 0 auto;
    width: 80%;
  }
  .offersContainer {
    width: 100%;
  }
  .chefContent h1 {
    margin-top: 30px;
  }
  .navFooterContent {
    padding: 10px 0;
    padding-bottom: 20px;
    display: block;
    text-align: center;
  }
  .contactMainContainerAdaptive {
    margin-top: 40px;
  }
  .servicesContainer {
    border-left: none;
    border-bottom: 1px dotted #BBBBBB;
    padding: 40px 0;
  }
  .servicesContainer p {
    margin-top: 25px;
    width: 90%;
    color: #777777;
    margin: 0 auto;
  }
  .servicesContent {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .servicesContent div:nth-child(3) {
    border-bottom: none;
  }
  /* */
}

@media screen and (max-width: 768px) {
  .footerContainer {
    margin-top: 40px;
  }
  .historyTabBlock {
    background-color: #F9F9F9;
    padding: 40px 40px;
    color: #777777;
    display: none;
    width: 100%;
  }
  .historyImage {
    margin-top: 30px;
  }
  .productsFilterInput input {
    width: 100%;
  }
  .productsSelect {
    display: block;
    margin-top: 20px;
  }
  .productsSelect select {
    width: 100%;
  }
  .productsFilter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .modalWrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  /* HEADER */
  .slideContent h1 {
    font-size: 6vw;
  }
  .slideContent p {
    font-size: 4vw;
  }
  .backgroundContent h1 {
    font-size: 40px;
  }
  .backgroundContent p {
    font-size: 12px;
  }
  .modalNavContent {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 40px;
  }
  .modalNavContent a {
    font-size: 30px;
  }
  .scrollToHeader {
    display: none;
  }
  /* */
}
/*# sourceMappingURL=style.css.map */