* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
$colorTextTitle: #222222;
$colorTextParagraphe: #777777;


$sizeTextParagraphe: 18px;

/* HEADER */
header {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 80;   
    
}

.headerOverlay {
    background-color: rgba(0, 0, 0, 0);
    transition: .3s;
}
.headerOverlay.activityHeader {
    background-color: rgba(0, 0, 0, 0.7);
    transition: .3s;
}

.navContent {
    max-width: 70%;
    margin: 0 auto;
}

.navLogo img {
    height: 40px;
    width: 200px;
}
.navContent {
    padding: 20px 0;
}
.main {

}
nav {
    a {
        color: white;
        margin-left: 30px;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 700;
        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 3px;
            background-color: #FD4100;
            opacity: 0;
            position: absolute;
            top: -170%;
            left: 0;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            transition: .2s linear;
        }
        &:hover::after {
            opacity: 1;
            width: 100%;
            transition: width .1s linear;
        }
        &:hover {
            color: #FD4100;
            transition: .2s linear;
        }
    }
}


/* BURGER */

.burger {
    height: 40px;
    width: 40px;

    position: relative;
    display: none;
    cursor: pointer;
}
.burgerLine,
.burgerLine::before,
.burgerLine::after {
    height: 3px;
    width: 30px;
    background-color: white;
    border: none;
    position: absolute;
}
.burgerLine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burgerLine::after {
    top: 8px;
    content: '';
}
.burgerLine::before{
    top: -8px;
    content: '';
}

/* */

/* */


/* SLIDER */

.slideList {
    position: relative;
}
.slideIMG {
    
}

.slideContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    h1 {
        color: white;
        font-size: 3.5vw;
        font-weight: bold;
        margin-top: 20px;
    }
    p {
        color: white;    
        font-size: 1.3vw;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    
}

.slideIcons {
    margin-bottom: 80px;
}

.slideButtons {
    margin: 0 auto;
    button {
        background-color: #FD4100;
        padding: 10px 30px;
        outline: none;
        border: none;
        color: white;
        letter-spacing: 3px;
        margin-left: 10px;
        margin-right: 15px;
        transition: .3s;
    }
    button:nth-child(2) {
        background-color: white;
        color: #A5A5A5;
    }
    button:nth-child(1):hover {
        background-color: #222222;
        transition: .2s;
    }
    button:nth-child(2):hover {
        background-color: #222222;
        color: white;
        transition: .2s;
    }
}

.modalNavBlock {
    display: none;
}

/* CONTACT */

.contactBlockWrapper {
    margin: 0 auto;
    max-width: 70%;
}
.contactContent {
    position: relative;
    bottom: 65px;
    background-color: #FD4100;
    padding: 28px 48px;
    width: 100%;
    background: url("https://ninzio.com/gustablo/wp-content/uploads/2018/03/section_bg1.jpg") center;
    input {
        height: 45px;
        border: none;
        outline: none;
        padding-left: 30px;
        margin: 5px 0;
    }

    button {
        background-color: #222222;
        padding: 10px 10px;
        outline: none;
        border: none;
        color: white;
        letter-spacing: 3px;
        margin-right: 15px;
        height: 45px;
        margin-top: 5px;
    }

}
/* */

/* GALLERY */

.galleryBlock {
    background-color: #FFFEFB;
}
.galleryWrapper {
    margin: 0 auto;
    max-width: 70%;
    
}
.galleryContent {
    padding-top: 90px;
    padding-bottom: 80px;
    text-align: center;
    h1 {
        color: $colorTextTitle;
    }
    p:nth-child(2) {
        border-top: 1px solid $colorTextParagraphe;
        max-width: 900px;
        margin: 0 auto;
        color: $colorTextParagraphe;
        font-size: $sizeTextParagraphe;
        margin-top: 30px;
        padding-top: 30px;
    }
    button {
        border: 1px solid #DDDDDD;
        padding: 10px 80px;
        outline: none;
        letter-spacing: 3px;
        background: none;
        color: $colorTextParagraphe;
        transition: .2s linear;
        margin-top: 45px;
    }
    button:hover {
        transition: .3s linear;
        background-color: #FD4100;
        color: white;
        border-color: #FD4100;
    }
}
$speedGalleryAnimation: .3s;



/* */

/* */
@media screen and (max-width: 1400px) {
    /* HEADER */
    .contactBlockWrapper {
        max-width: 80%;
    }
    .galleryWrapper {
        max-width: 80%;      
    }
    .navContent {
        max-width: 80%;
    }
    // /* */
}
@media screen and (max-width: 1200px) {
    /* HEADER */
    .slideContent {

        h1 {
            color: white;
            font-size: 5vw;
        }
        p {
            color: white;    
            font-size: 2vw;
        }
        
    }
    .galleryWrapper {
        max-width: 90%;      
    }
    .contactBlockWrapper {
        max-width: 90%;
    }
    .navContent {
        max-width: 90%;
    }
    /* */
 
}
@media screen and (max-width: 1024px) {
    /* HEADER */
    nav {
        display: none;
    }
    .burger {
        display: block;
    }

    /* MODAL NAV */
    .modalNavBlock {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #292A2D;
        z-index: 100;
        height: 100%;
        transform: translateX(100%);
        transition: .7s;
    }
    .modalNavContent {
        padding-top: 150px;
        padding-left: 100px;
        padding-right: 100px;
        display: block;
        ul {
            list-style-type: none;
        }
        li {
            margin-top: 10px;
        }
        a {
            
            color: white;
            font-size: 40px;
            font-weight: bold;
        }
    }
    .modalNavBlack {
        position: fixed;
        z-index: 90;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.3;
        display: none;
    }
    .modalNavBlack.activeNavBlack {
        animation: show .8s;
        display: block;
        opacity: 0.7;
    }
    .modalNavBlock.activeNavModal {
        transform: translateX(0%);
        transition: .7s;
    }
    @keyframes show {
        0% {opacity: 0.3;}
        100% {opacity: 0.7;}
    }

    .galleryWrapper {
        max-width: 90%;      
    }
    .navContent {
        max-width: 90%;
    }

/* */
    /* */
 
}
@media screen and (max-width: 992px) {
    /* HEADER */
    .slideContent {

        h1 {
            color: white;
            font-size: 5.5vw;
        }
        p {
            color: white;    
            font-size: 3vw;
        }
        
    }
    .modalNavContent {
        padding-top: 150px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .modalNavContent {
        padding-top: 150px;
        padding-left: 40px;
        padding-right: 40px;
        a {
            font-size: 35px;
        }
    }
    .slideButtons {
        
        button {
            margin-top: 50px;
        }     
    }
    /* */
}

@media screen and (max-width: 576px) {
    /* HEADER */

    .slideContent {

        h1 {
            color: white;
            font-size: 6vw;
        }
        p {
            color: white;    
            font-size: 4vw;
        }
        
    }
    .modalNavContent {
        padding-top: 150px;
        padding-left: 30px;
        padding-right: 40px;
        a {
            font-size: 30px;
        }
    }
    /* */
}



// @font-face {
//     font-family: 'Proc';
//     src: url("/assets/font/proxima-nova-bold.ttf");

//   }
// @font-face {
//     font-family: 'Gustablo';
//     src: url("/assets/font/gustablo.ttf");
// }
