* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button, button:visited, button:focus, button:active, button:hover{
    outline:0 none !important;
}

$colorTextTitle: #222222;
$colorTextParagraphe: #777777;


$sizeTextParagraphe: 18px;

/* HEADER */
header {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 80;   
    opacity: 0;
    i {
        color: white;
    }
}
.header.activityHeader {
    transform: translate(-50%, 0%);
    transition: .3s;
    opacity: 1;
}

.headerOverlay {
    background-color: rgba(0, 0, 0, 0);
    transition: .3s;
}
.headerOverlay.activityHeader {
    background-color: rgba(0, 0, 0, 0.7);
    transition: .3s;
}

.navContent {
    max-width: 70%;
    margin: 0 auto;
}

.navLogo img {
    height: 40px;
    width: 200px;
}
.navContent {
    padding: 20px 0;
}
.main {

}
nav {
    a {
        color: white;
        margin-left: 30px;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 700;
        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 3px;
            background-color: #FD4100;
            opacity: 0;
            position: absolute;
            top: -170%;
            left: 0;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            transition: .2s linear;
        }
        &:hover::after {
            opacity: 1;
            width: 100%;
            transition: width .1s linear;
        }
        &:hover {
            color: #FD4100;
            transition: .2s linear;
        }
    }
}


/* BURGER */

.burger {
    height: 40px;
    width: 40px;

    position: relative;
    display: none;
    cursor: pointer;
}
.burgerLine,
.burgerLine::before,
.burgerLine::after {
    height: 3px;
    width: 30px;
    background-color: white;
    border: none;
    position: absolute;
}
.burgerLine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burgerLine::after {
    top: 8px;
    content: '';
}
.burgerLine::before{
    top: -8px;
    content: '';
}

/* */

/* SCROLL TO HEADER */

.scrollToHeader {
    position: fixed;
    right: 50px;
    bottom: 70px;
    background-color: #3E3E3E;
    height: 35px;
    width: 35px;
    transition: .3s linear;
    opacity: 0;
    transform: translateY(200%);
    z-index: 50;
    cursor: pointer;
    &:hover {
        background-color: #FD4100;
        transition: .2s linear;
    }
}
.scrollToHeader.activeScrollHeader {
    transition: .3s linear;
    opacity: 1;
    transform: translateY(0%);
}

.scrollHeaderLine,
.scrollHeaderLine::before,
.scrollHeaderLine::after {
    height: 3px;
    width: 10px;
    border-radius: 10px;
    background-color: white;
    border: none;
    position: absolute;
}
.scrollHeaderLine {
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scrollHeaderLine::after {
    left: -3px;
    content: '';
    transform: rotate(-45deg);
}
.scrollHeaderLine::before{
    left: 3px;
    content: '';
    transform: rotate(45deg);
}

/* */
/* */


/* SLIDER */

.slideList {
    position: relative;
}
.slideIMG {
    min-width: 100%;
}

.slideContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    h1 {
        color: white;
        font-size: 3.5vw;
        font-weight: bold;
        margin-top: 20px;
    }
    p {
        color: white;    
        font-size: 1.3vw;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    
}

.slideIcons {
    margin-bottom: 80px;
}

.slideButtons {
    margin: 0 auto;
    button {
        background-color: #FD4100;
        padding: 10px 30px;
        outline: none;
        border: none;
        color: white;
        letter-spacing: 3px;
        margin-left: 10px;
        margin-right: 15px;
        transition: .3s;
    }
    button:nth-child(2) {
        background-color: white;
        color: #A5A5A5;
    }
    button:nth-child(1):hover {
        background-color: #222222;
        transition: .2s;
    }
    button:nth-child(2):hover {
        background-color: #222222;
        color: white;
        transition: .2s;
    }
}

.modalNavBlock {
    display: none;
}

/* CONTACT */

.contactBlockWrapper {
    margin: 0 auto;
    max-width: 70%;
}
.contactContent {
    position: relative;
    bottom: 65px;
    background-color: #FD4100;
    padding: 28px 48px;
    width: 100%;
    background: url("https://ninzio.com/gustablo/wp-content/uploads/2018/03/section_bg1.jpg") center;
    input {
        height: 45px;
        border: none;
        outline: none;
        padding-left: 30px;
        margin: 5px 0;
    }

    button {
        background-color: #222222;
        padding: 10px 10px;
        outline: none;
        border: none;
        color: white;
        letter-spacing: 3px;
        margin-right: 15px;
        height: 45px;
        margin-top: 5px;
    }

}

$timeSlideAnimation: .6s ease-out;
/* SLIDER ANIM */
.slideContentTitle {
    transform: translateX(10%);
    opacity: 0;
}
.slideContentTitle.activeSlider{
    transform: translateX(0%);
    opacity: 1;
    transition: $timeSlideAnimation;
}


.slideContentImg {
    transform: translateY(100%);
    opacity: 0;
}
.slideContentImg.activeSlider {
    transform: translateY(0%);
    opacity: 1;
    transition: $timeSlideAnimation;
}

.slideContentText {
    transform: translateY(20%);
    opacity: 0;
}
.slideContentText.activeSlider{
    transform: translateX(0%);
    opacity: 1;
    transition: $timeSlideAnimation;
}

.slideContentButton1 {
    transform: translateX(-20%);
    opacity: 0;
}
.slideContentButton1.activeSlider {
    transform: translateX(0%);
    opacity: 1;
    transition: .6s;
}

.slideContentButton2 {
    transform: translateX(-20%);
    opacity: 0;
}
.slideContentButton2.activeSlider {
    transform: translateX(0%);
    opacity: 1;
    transition: .6s;
}
/* */

/* */

/* GALLERY */

.galleryBlock {
    background-color: #FFFEFB;
}
.galleryWrapper {
    margin: 0 auto;
    max-width: 70%;   
}
.galleryContent {
    padding-top: 90px;
    padding-bottom: 80px;
    text-align: center;
    h1 {
        color: $colorTextTitle;
    }
    p:nth-child(2) {
        border-top: 3px solid $colorTextParagraphe;
        max-width: 900px;
        margin: 0 auto;
        color: $colorTextParagraphe;
        font-size: $sizeTextParagraphe;
        margin-top: 30px;
        padding-top: 30px;
    }
    button {
        border: 1px solid #DDDDDD;
        padding: 10px 80px;
        outline: none;
        letter-spacing: 3px;
        background: none;
        color: $colorTextParagraphe;
        transition: .2s linear;
        margin-top: 45px;
    }
    button:hover {
        transition: .3s linear;
        background-color: #FD4100;
        color: white;
        border-color: #FD4100;
    }
}
.galleryContainer {
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    a {
        color: $colorTextParagraphe;
        transition: .2s linear;
        font-size: 15px;
        font-weight: 700;
    }
    a:hover {
        color: #FD4100;
        transition: .1s linear;
    }
}
$speedGalleryAnimation: .2s;
$speedGalleryIcon: .3s;


.galleryContainerText {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: white;
    width: 100%;
    padding: 5px 0;
    transition: $speedGalleryAnimation linear;
}

.galleryContainerText.activeGalleryText {
    transform: translate(-50%, 0);
    transition: $speedGalleryAnimation linear;
}
.galleryContainerImage{
    transform: translateY(0%);
    transition: $speedGalleryAnimation linear;

}
.galleryContainerImage.activeGallery{
    transform: translateY(-10%);
    transition: $speedGalleryAnimation linear;
}

.galleryIcons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    i {
        color: white;
        padding: 10px;
        background-color: #FD4100;
    }
    i:hover {
        background-color: #1F2323;
        transition: .2s linear;
    }
}
.galleryIcon1 {
    transform: translateX(-50%);
    transition: $speedGalleryIcon;
    opacity: 0;
}
.galleryIcon2 {
    transform: translateX(50%);
    transition: $speedGalleryIcon;
    opacity: 0;
}
.galleryIcon1.activityIcon {
    transform: translateX(0%);
    opacity: 1;
    transition: $speedGalleryIcon;
}
.galleryIcon2.activityIcon {
    transform: translateX(0%);
    opacity: 1;
    transition: $speedGalleryIcon;
}

/* */

/* CHEF */
.chefBlock {
    background-color: #F5F5F5;
}
.chefWrapper {
    margin: 0 auto;
    max-width: 70%;  
}
.chefContent {
    img {
        max-width: 475px;
        max-height: 674px;
    }
    h1 {
        margin-top: 15px;
        border-bottom: 3px solid $colorTextParagraphe;
        padding-bottom: 20px;
        width: 85%;
        margin: 0 auto;
        color: $colorTextTitle;
    }
    p {
        color: $colorTextParagraphe;
        line-height: 30px;
        width: 85%;
        margin: 20px auto;
    }
}

/* */

/* COUNTER */
.counterBlock {

}
.counterWrapper {
    margin: 0 auto;
    max-width: 65%; 
}
.counterContent {
    padding: 50px 0;
    text-align: center;

    h1 {
        color: #FD4100;
        font-size: 60px;
        font-weight: bold;
    }
    p {
        color: $colorTextParagraphe;
        font-weight: bold;
    }
}
/* */

/* OFFERS */
.offersBlock {
    background-image: url("../../images/offersBackground.jpg");
    padding-top: 140px;
}
.offersWrapper {
    margin: 0 auto;
    width: 70%;
}
.offersContent {
    background-color: white;
    padding-bottom: 80px;
    padding-top: 60px;
    h1:nth-child(1) {
        text-align: center;
        border-bottom: 3px solid $colorTextParagraphe;
        width: 50%;
        margin: 0 auto;
        padding-bottom: 40px;
        line-height: 40px;
        color: $colorTextTitle;
    }
    img {
        height: 100px;
        width: 100px;
    }
}
.offersContainers {
    padding-top: 30px;
}
.offersText {
    margin-left: 30px;
    p {
        color: $colorTextParagraphe;
        font-size: 15px;
        margin-top: 10px;
    }
}
.offersContentWrapper {
    margin: 0 auto;
    width: 90%;
    button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FD4100;
        border: none;
        padding: 10px 80px;
        outline: none;
        letter-spacing: 3px;
        color: $colorTextParagraphe;
        transition: .2s linear;
        margin-top: 60px;
        color: white;
    }
    button:hover {
        transition: .3s linear;
        background-color: #1F2323;
        color: white;
    }
}
.offersContainer {
    padding: 20px;
    background-color: #F5F5F5;
    margin-top: 20px;
    display: flex;
    position: relative;
    width: 49%;
}
.food-title {
    background-color: #F5F5F5;
}
.food-price {
    background-color: #F5F5F5;
    color: #FD4100;
}
.food-dots {
    width: 0%;
}

/* */

/* ABOUT */
.descriptionBlock {
    background-color: #F5F5F5;
}

.descriptionWrapper {
    margin: 0 auto;
    max-width: 70%;   
}
.descriptionContent {
    padding: 40px 0;
    h1 {
        color: $colorTextTitle;
        margin-top: 15px;
        border-bottom: 3px solid $colorTextParagraphe;
        padding-bottom: 20px;
        width: 85%;
        margin: 0 auto;
    }
    p {
        color: $colorTextParagraphe;
        line-height: 30px;
        width: 85%;
        margin: 20px auto;
    }
}
/* */

/* WORKERS */

.workersWrapper {
    margin: 0 auto;
    max-width: 70%; 
}
.workersContent {
    padding: 50px 0px;
}

.workersContainer {
    background-color: #F6F6F6;
    position: relative;
    margin-top: 50px;
    padding: 60px 30px 50px 30px;
    img:nth-child(2) {
        max-width: 100px;
        max-height: 25px;
        margin: 0 auto;
    }
    p {
        color: $colorTextParagraphe;
        margin-top: 10px;
    }
    h2 {
        font-size: 18px;
        color: #FD4100;
        font-weight: bold;
    }
    h3 {
        color: $colorTextParagraphe;
        font-size: 15px;
    }
}
.workersIcon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -120%);
    border-radius: 50%;
    overflow: hidden;
    height: 90px;
    width: 90px;
}
.owl-dot {
    color: orange;
    outline: none;
}

/* BUTTONS */

/* */
/* */

/* SUBSCRIBE */

.subscribeBlock {
    background-image: url("../../images/bg-subscribe.jpg");
}
.subscribeWrapper {
    margin: 0 auto;
    max-width: 70%; 
}
.subscribeContent {
    padding: 40px 0;
    row-gap: 15px;
    button {
        border: none;
        padding: 10px 60px;
        outline: none;
        letter-spacing: 3px;
        background-color: #333333;
        color: white;
        transition: .2s linear;
        font-weight: bold;
        height: 45px;
    }
    input {
        height: 45px;
        border: none;
        outline: none;
        padding-left: 30px;
    }
}
/* SUBSCRIBE ICON */

.subscribeTitleImg {
    width: 50px;
    height: 30px;
    border: 4px solid white;
    border-radius: 5px;
    position: relative;
}
.subscribeTitleText {
    color: white;
    font-size: 18px;
    margin-left: 30px;
    font-weight: bold;
}
.subcribeIconLine,
.subcribeIconLine::before,
.subcribeIconLine::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 15px;
    background-color: white;
    border-radius: 10px;
}
.subcribeIconLine {
   background-color: transparent;
}
.subcribeIconLine::before {
    top: -1px;
    content: '';
    left: -5px;
    transform: rotate(30deg);
}
.subcribeIconLine::after{
    top: -1px;
    content: '';
    transform: rotate(-30deg);
}

/* */

/* */


/* */

/* FOOTER */
footer {
    background-color: #1E1E1E;
}
.footerContent {
    padding-top: 90px;
    padding-bottom: 70px;
    p {
        color: #BCBCBC;
    }
}
.footerWrapper {
    margin: 0 auto;
    max-width: 70%; 
}
.footerIcons {
    display: flex;
    column-gap: 10px;
}
.footerIcon {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: #353535;
    position: relative;
    transition: .2s linear;
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    &:hover {
        background-color: #FD4100;
        transition: .2s linear;
    }
}
.footerContainerTitle {
    h2 {
        color: white;
        font-size: 16px;
    }
}
.footer-logo {
    height: 40px;
    width: 200px;
}
.footerTitleLine {
    margin-top: 10px;
    background-color: #FD4100;
    width: 80px;
    height: 2px;
}
.footerContentPost {
    img {
        height: 70px;
        width: 90px;
    }
    h3 {
        color: white;
        font-size: 14px;
    }
}
.footerPhotoGallery {
    display: flex;
    row-gap: 20px;
    img {
       
       
    }
}
.footerContainerContent {
    margin-top: 30px;
}
.footerContentPostText {
    margin-left: 20px;
    margin-top: 2px;
}
.footerLine {
    border-bottom: 1px solid #353535;
    padding-bottom: 20px;
}
.footerOffset {
    margin-top: 20px;
}

.footerContactContainer {
    border-bottom: 1px solid #353535;
    padding-top: 10px;
    i {
        color: #FD4100;
    }
    p {
        color: white;
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
    }
}
.footerContactContainer:nth-child(3) {
    border: none;
}
/* */

/* NAV FOOTER */
.navFooterBlock {
    background-color: #151515;
}
.navFooterWrapper {
    margin: 0 auto;
    max-width: 70%; 
}
.navFooterContent {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    p {
        color: #A7A7A7;
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
    }
    span {
        color: white;
    }
    a {
        padding-right: 20px;
        color: #A7A7A7;
        font-size: 14px;
        font-weight: bold;
        margin-left: 20px;
        border-right: 1px solid #272727;
    }
    a:nth-child(4) {
        border-right: none;
    }
}
.navCopyriht {
    margin-top: 15px;
}
.navFooterNav {
    margin-top: 15px;
}
/* */


@media screen and (max-width: 1400px) {
    /* HEADER */
    .contactBlockWrapper {
        max-width: 80%;
    }
    .galleryWrapper {
        max-width: 80%;      
    }
    .navContent {
        max-width: 80%;
    }
    .chefWrapper {
        max-width: 80%;  
    }
    .offersWrapper {
        width: 70%;
    }
    .offersContentWrapper {
        width: 90%;
    }    
    .descriptionWrapper {
        max-width: 80%;   
    }
    .footerWrapper {
        max-width: 80%; 
    }
    .navFooterWrapper {
        max-width: 80%; 
    }
    .subscribeWrapper {
        max-width: 80%; 
    }
    .workersWrapper {
        max-width: 80%; 
    }
    // /* */
}
@media screen and (max-width: 1200px) {
    /* HEADER */
    .slideContent {

        h1 {
            color: white;
            font-size: 5vw;
        }
        p {
            color: white;    
            font-size: 2vw;
        }
        
    }
    .galleryWrapper {
        max-width: 90%;      
    }
    .contactBlockWrapper {
        max-width: 90%;
    }
    .navContent {
        max-width: 90%;
    }
    .chefWrapper {
        max-width: 80%;  
    }
    .counterWrapper {
        max-width: 80%; 
    }
    .offersWrapper {
        width: 70%;
    }
    .offersContentWrapper {
        width: 85%;
    }   
    .descriptionWrapper {
        max-width: 90%;   
    }
    .chefContent {
        padding: 40px 0;
    }
    .chefWrapper {
        max-width: 90%;  
    }
    .footerWrapper {
        max-width: 90%; 
    }
    .navFooterWrapper {
        max-width: 90%; 
    }
    .subscribeWrapper {
        max-width: 90%; 
    }
    .workersWrapper {
        max-width: 90%; 
    }
    /* */
 
}
@media screen and (max-width: 1024px) {
    /* HEADER */
    nav {
        display: none;
    }
    .burger {
        display: block;
    }

    /* MODAL NAV */
    .modalNavBlock {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #292A2D;
        z-index: 100;
        height: 100%;
        transform: translateX(100%);
        transition: .7s;
    }
    .modalNavContent {
        padding-top: 150px;
        padding-left: 100px;
        padding-right: 100px;
        display: block;
        ul {
            list-style-type: none;
        }
        li {
            margin-top: 10px;
        }
        a {
            
            color: white;
            font-size: 40px;
            font-weight: bold;
        }
    }
    .modalNavBlack {
        position: fixed;
        z-index: 90;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.3;
        display: none;
    }
    .modalNavBlack.activeNavBlack {
        animation: show .8s;
        display: block;
        opacity: 0.7;
    }
    .modalNavBlock.activeNavModal {
        transform: translateX(0%);
        transition: .7s;
    }
    form {
        row-gap: 10px;
    }
    @keyframes show {
        0% {opacity: 0.3;}
        100% {opacity: 0.7;}
    }

    .galleryWrapper {
        max-width: 90%;      
    }
    .navContent {
        max-width: 90%;
    }
    .chefWrapper {
        max-width: 80%;  
    }
    .counterWrapper {
        max-width: 90%; 
    }
    .offersWrapper {
        width: 90%;
    }
    .offersContentWrapper {
        width: 90%;
    } 
    .chefWrapper {
        max-width: 95%;  
    }
    .workersWrapper {
        max-width: 90%; 
    }


/* */
    /* */
 
}
@media screen and (max-width: 992px) {
    /* HEADER */
    .slideContent {

        h1 {
            color: white;
            font-size: 5.5vw;
        }
        p {
            color: white;    
            font-size: 3vw;
        }
        
    }
    .modalNavContent {
        padding-top: 150px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .modalNavContent {
        padding-top: 150px;
        padding-left: 40px;
        padding-right: 40px;
        a {
            font-size: 35px;
        }
    }
    .slideButtons {
        
        button {
            margin-top: 50px;
        }     
    }
    .offersWrapper {
        margin: 0 auto;
        width: 80%;
    }
    .offersContentWrapper {
        margin: 0 auto;
        width: 80%;
    }  
    .offersContainer {
        width: 100%;
    }
    .chefContent {
        h1 {
            margin-top: 30px;
        }
    }
    .navFooterContent {
        padding: 10px 0;
        padding-bottom: 20px;
        display: block;
        text-align: center;
    }
    /* */
}
@media screen and (max-width: 768px) {
    .footerContainer {
        margin-top: 40px;
    }
}

@media screen and (max-width: 576px) {
    /* HEADER */

    .slideContent {

        h1 {
            color: white;
            font-size: 6vw;
        }
        p {
            color: white;    
            font-size: 4vw;
        }
        
    }
    .modalNavContent {
        padding-top: 150px;
        padding-left: 30px;
        padding-right: 40px;
        a {
            font-size: 30px;
        }
    }
    .scrollToHeader {
        display: none;
    }

    /* */
}



// @font-face {
//     font-family: 'Proc';
//     src: url("/assets/font/proxima-nova-bold.ttf");

//   }
// @font-face {
//     font-family: 'Gustablo';
//     src: url("/assets/font/gustablo.ttf");
// }
