* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 80;
}

header i {
  color: white;
}

.headerOverlay {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

.headerOverlay.activityHeader {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

.navContent {
  max-width: 70%;
  margin: 0 auto;
}

.navLogo img {
  height: 40px;
  width: 200px;
}

.navContent {
  padding: 20px 0;
}

nav a {
  color: white;
  margin-left: 30px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

nav a::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: #FD4100;
  opacity: 0;
  position: absolute;
  top: -170%;
  left: 0;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

nav a:hover::after {
  opacity: 1;
  width: 100%;
  -webkit-transition: width .1s linear;
  transition: width .1s linear;
}

nav a:hover {
  color: #FD4100;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

/* BURGER */
.burger {
  height: 40px;
  width: 40px;
  position: relative;
  display: none;
  cursor: pointer;
}

.burgerLine,
.burgerLine::before,
.burgerLine::after {
  height: 3px;
  width: 30px;
  background-color: white;
  border: none;
  position: absolute;
}

.burgerLine {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burgerLine::after {
  top: 8px;
  content: '';
}

.burgerLine::before {
  top: -8px;
  content: '';
}

/* */
/* */
/* SLIDER */
.slideList {
  position: relative;
}

.slideContent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.slideContent h1 {
  color: white;
  font-size: 3.5vw;
  font-weight: bold;
  margin-top: 20px;
}

.slideContent p {
  color: white;
  font-size: 1.3vw;
}

.slideContent img {
  max-width: 100%;
  height: auto;
}

.slideIcons {
  margin-bottom: 80px;
}

.slideButtons {
  margin: 0 auto;
}

.slideButtons button {
  background-color: #FD4100;
  padding: 10px 30px;
  outline: none;
  border: none;
  color: white;
  letter-spacing: 3px;
  margin-left: 10px;
  margin-right: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.slideButtons button:nth-child(2) {
  background-color: white;
  color: #A5A5A5;
}

.slideButtons button:nth-child(1):hover {
  background-color: #222222;
  -webkit-transition: .2s;
  transition: .2s;
}

.slideButtons button:nth-child(2):hover {
  background-color: #222222;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.modalNavBlock {
  display: none;
}

/* CONTACT */
.contactBlockWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.contactContent {
  position: relative;
  bottom: 65px;
  background-color: #FD4100;
  padding: 28px 48px;
  width: 100%;
  background: url("https://ninzio.com/gustablo/wp-content/uploads/2018/03/section_bg1.jpg") center;
}

.contactContent input {
  height: 45px;
  border: none;
  outline: none;
  padding-left: 30px;
  margin: 5px 0;
}

.contactContent button {
  background-color: #222222;
  padding: 10px 10px;
  outline: none;
  border: none;
  color: white;
  letter-spacing: 3px;
  margin-right: 15px;
  height: 45px;
  margin-top: 5px;
}

/* */
/* GALLERY */
.galleryBlock {
  background-color: #FFFEFB;
}

.galleryWrapper {
  margin: 0 auto;
  max-width: 70%;
}

.galleryContent {
  padding-top: 90px;
  padding-bottom: 80px;
  text-align: center;
}

.galleryContent h1 {
  color: #222222;
}

.galleryContent p:nth-child(2) {
  border-top: 3px solid #777777;
  max-width: 900px;
  margin: 0 auto;
  color: #777777;
  font-size: 18px;
  margin-top: 30px;
  padding-top: 30px;
}

.galleryContent button {
  border: 1px solid #DDDDDD;
  padding: 10px 80px;
  outline: none;
  letter-spacing: 3px;
  background: none;
  color: #777777;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  margin-top: 45px;
}

.galleryContent button:hover {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: #FD4100;
  color: white;
  border-color: #FD4100;
}

.galleryContainer {
  overflow: hidden;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
}

.galleryContainer a {
  color: #777777;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-size: 15px;
  font-weight: 700;
}

.galleryContainer a:hover {
  color: #FD4100;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.galleryContainerText {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  background-color: white;
  width: 100%;
  padding: 5px 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.galleryContainerText.activeGalleryText {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.galleryContainerImage {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.galleryContainerImage.activeGallery {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.galleryIcons {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.galleryIcons i {
  color: white;
  padding: 10px;
  background-color: #FD4100;
}

.galleryIcons i:hover {
  background-color: #1F2323;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.galleryIcon1 {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.galleryIcon2 {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.galleryIcon1.activityIcon {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.galleryIcon2.activityIcon {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* */
/* CHEF */
/* */
/* COUNTER */
.counterBlock {
  background-color: #F5F5F5;
}

.counterWrapper {
  margin: 0 auto;
  max-width: 65%;
}

.counterContent {
  padding: 50px 0;
  text-align: center;
}

.counterContent h1 {
  color: #FD4100;
  font-size: 60px;
  font-weight: bold;
}

.counterContent p {
  color: #777777;
  font-weight: bold;
}

/* */
/* OFFERS */
.offersBlock {
  background-image: url("../../images/offersBackground.jpg");
  padding-top: 140px;
}

.offersWrapper {
  margin: 0 auto;
  width: 70%;
}

.offersContent {
  background-color: white;
  padding-bottom: 80px;
  padding-top: 60px;
}

.offersContent h1:nth-child(1) {
  text-align: center;
  border-bottom: 3px solid #777777;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
  line-height: 40px;
}

.offersContent img {
  height: 100px;
  width: 100px;
}

.offersContainers {
  padding-top: 30px;
}

.offersText {
  margin-left: 30px;
}

.offersText p {
  color: #777777;
  font-size: 15px;
  margin-top: 10px;
}

.offersContentWrapper {
  margin: 0 auto;
  width: 90%;
}

.offersContentWrapper button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FD4100;
  border: none;
  padding: 10px 80px;
  outline: none;
  letter-spacing: 3px;
  color: #777777;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  margin-top: 60px;
  color: white;
}

.offersContentWrapper button:hover {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: #1F2323;
  color: white;
}

.offersContainer {
  padding: 20px;
  background-color: #F5F5F5;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 49%;
}

.food-title {
  background-color: #F5F5F5;
}

.food-price {
  background-color: #F5F5F5;
  color: #FD4100;
}

.food-dots {
  width: 0%;
}

/* */
/* */
@media screen and (max-width: 1400px) {
  /* HEADER */
  .contactBlockWrapper {
    max-width: 80%;
  }
  .galleryWrapper {
    max-width: 80%;
  }
  .navContent {
    max-width: 80%;
  }
  .chefWrapper {
    max-width: 80%;
  }
  .offersWrapper {
    margin: 0 auto;
    width: 70%;
  }
  .offersContentWrapper {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  /* HEADER */
  .slideContent h1 {
    color: white;
    font-size: 5vw;
  }
  .slideContent p {
    color: white;
    font-size: 2vw;
  }
  .galleryWrapper {
    max-width: 90%;
  }
  .contactBlockWrapper {
    max-width: 90%;
  }
  .navContent {
    max-width: 90%;
  }
  .chefWrapper {
    max-width: 80%;
  }
  .counterWrapper {
    margin: 0 auto;
    max-width: 80%;
  }
  .offersWrapper {
    margin: 0 auto;
    width: 70%;
  }
  .offersContentWrapper {
    margin: 0 auto;
    width: 85%;
  }
  /* */
}

@media screen and (max-width: 1024px) {
  /* HEADER */
  nav {
    display: none;
  }
  .burger {
    display: block;
  }
  /* MODAL NAV */
  .modalNavBlock {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #292A2D;
    z-index: 100;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .7s;
    transition: .7s;
  }
  .modalNavContent {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
  }
  .modalNavContent ul {
    list-style-type: none;
  }
  .modalNavContent li {
    margin-top: 10px;
  }
  .modalNavContent a {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
  .modalNavBlack {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    display: none;
  }
  .modalNavBlack.activeNavBlack {
    -webkit-animation: show .8s;
            animation: show .8s;
    display: block;
    opacity: 0.7;
  }
  .modalNavBlock.activeNavModal {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: .7s;
    transition: .7s;
  }
  @-webkit-keyframes show {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.7;
    }
  }
  @keyframes show {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.7;
    }
  }
  .galleryWrapper {
    max-width: 90%;
  }
  .navContent {
    max-width: 90%;
  }
  .chefWrapper {
    max-width: 80%;
  }
  .counterWrapper {
    margin: 0 auto;
    max-width: 90%;
  }
  .offersWrapper {
    margin: 0 auto;
    width: 90%;
  }
  .offersContentWrapper {
    margin: 0 auto;
    width: 90%;
  }
  /* */
  /* */
}

@media screen and (max-width: 992px) {
  /* HEADER */
  .slideContent h1 {
    color: white;
    font-size: 5.5vw;
  }
  .slideContent p {
    color: white;
    font-size: 3vw;
  }
  .modalNavContent {
    padding-top: 150px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .modalNavContent {
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .modalNavContent a {
    font-size: 35px;
  }
  .slideButtons button {
    margin-top: 50px;
  }
  .offersWrapper {
    margin: 0 auto;
    width: 80%;
  }
  .offersContentWrapper {
    margin: 0 auto;
    width: 80%;
  }
  .offersContainer {
    width: 100%;
  }
  /* */
}

@media screen and (max-width: 576px) {
  /* HEADER */
  .slideContent h1 {
    color: white;
    font-size: 6vw;
  }
  .slideContent p {
    color: white;
    font-size: 4vw;
  }
  .modalNavContent {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 40px;
  }
  .modalNavContent a {
    font-size: 30px;
  }
  /* */
}
/*# sourceMappingURL=style.css.map */